<meta content="{{ site.url }}" property="og:url">
{% if site.sitename %}
  <meta content="{{ site.sitename }}" property="og:site_name">
{% endif %}
{% if page.excerpt  %}
  <meta property="og:description" content="{{ page.excerpt | strip_html | escape }}">
{% elsif site.description %}
  <meta property="og:description" content="{{ site.description | strip_html | escape }}">
{% endif %}
{% if page.featured_image_path %}
  <meta content="{{ site.url }}{{ page.featured_image_path }}" property="og:image" data-type="featured image">
  {% elsif page.image_path %}
  <meta content="{{ site.url }}{{ page.image_path }}" property="og:image" data-type="featured image">
  {% else %}
<meta content="{{ site.url }}/uploads/banner-home-page_wr.jpg" property="og:image" data-type="featured image">
  {% endif %}