<form accept-charset="UTF-8" action="https://formkeep.com/f/6f799fdacb75" method="POST" style="width:80%;">
  <input type="hidden" name="utf8" value="✓">
    {% comment %} <input type='hidden' name='redirect_to' value='/about/thank-you/' /> {% endcomment %}

    <label class="label block">Name</label>
    <input tabindex="6" type="text" name="name" id="name-field" class="input" size="40" maxlength="35" />

    <label class="label block">Email Address</label>
    <input tabindex="7" type="text" name="email" id="email-field" class="input" size="40" maxlength="35" />


    <label class="label block">Your Note</label>
    <textarea tabindex="8" name="message" id="message-field" class="textarea" rows="6"></textarea>

    <button type="submit" class="btn font-family-primary h1 bg-red white bg-hover-black rounded">Submit</button>

</form>


<style type="text/css">
  .LV_validation_message{
    font-weight:bold;
    margin:0 0 0 5px;
}

.LV_valid {
    color:#00CC00;
}

.LV_invalid {
    color:#CC0000;
}

.LV_valid_field,
input.LV_valid_field:hover,
input.LV_valid_field:active,
textarea.LV_valid_field:hover,
textarea.LV_valid_field:active {
    border: 1px solid #00CC00;
}

.LV_invalid_field,
input.LV_invalid_field:hover,
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover,
textarea.LV_invalid_field:active {
    border: 1px solid #CC0000;
}
</style>