<form role="search" action="/search-results/" method="get" data-search-index="false" class="lg-mr2">
  <label class="hide">Search</label>
  <input type="search" autocomplete="off" placeholder="search" name="query" id="search-box" class="pt1 pr2 lg-px2 gray hover-white not-rounded border-bottom border-dark-gray font-family-primary rounded-left h4" />
  <button type="submit" class="font-family-primary line-height-1 bg-transparent white m0 py1 px1 h5">
    <img src="/assets/images/search-icon.png" alt="Search Icon" style="height:.75em;" class="inlne-block gray">    
  </button>
</form>
