<nav class="flex items-baseline clearfix px3 py2 mb4 bg-primary-color-dark text-on-primary-color">

  <div class="lg-mr3 col-12 lg-col-5">
    <a href="/" class="h1 inline-block text-decoration-none text-on-primary-color hover-silver">
      {{ site.title }}
    </a>
  </div>
    <div class="flex-auto"><!--  space  --></div>
    {% for object in site.data.navigation-links %}
     <a class="hover-moon-gray text-decoration-none lg-h4 inline-block mr2 lg-mr3{% if page.url == object.url %} accent-color{% else %} text-on-primary-color{% endif %}" href="{{ object.url }}" title="{{ object.title }}">
      {{ object.title }}
     </a>
    {% endfor %}
</nav>
