/*

  Override Tachyons
*/

:root {
  --black: #000;
  --near-black: #111;
  --dark-gray:#333;
  --mid-gray:#555;
  --gray: #777;
  --silver: #999;
  --light-silver: #aaa;
  --moon-gray: #ccc;
  --light-gray: #eee;
  --near-white: #f4f4f4;
  --white: #fff;
  --brand: rgb(12, 30, 41);
 
}

.bg-brand {
  background-color: var(--brand);
}
