@import 'normalize.css';
@import 'normalize-opentype.css/normalize-opentype.css';


/*@import '_tachyons';*/

@import '_basscss';

@import '_elements-accessibility';





@import '_settings-colors';
@import '_settings-media-queries';
@import '_settings';



.content {
min-height: 90vh;
}

.element {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}