@import 'google-material-color/dist/palette.var.css';
/*

   COLOR VARIABLES

   Variables to set colors for
   color, background-color, and border-color

   Use Material Design/Polymer as Default
   https://material.google.com/style/color.html

    // format
   .color_name {color}
   .bg-color_name {background-color}
   .hover-bg-color_name:hover {backgroun-color}
   .hover-color_name:hover; {color}

   // base colors
    white
    near-white
    silver
    light-gray
    gray   
    dark-gray
    black
   
   // theme colors
    dark-primary-color    (background-color)   
    primary-color   (background-color)   
    light-primary-color (background-color)   
    text-primary-color     (color)    
    accent-color            (background-color)   
    primary-background-color (background-color)   
    primary-text-color      (color)    
    secondary-text-color   (color)     
    disabled-text-color     (color)    
    divider-color       (color)        

*/

a { color: var(--brand-lighten)}
.muted { opacity: .5 }


.white {color: var(--white)}
.bg-white {background-color: var(--white)}
.hover-bg-white:hover {background-color: var(--white)}
.hover-white:hover {color: var(--white)}

.near-white {color: var(--near-white)}
.bg-near-white {background-color: var(--near-white)}
.hover-bg-near-white:hover {background-color: var(--near-white)}
.hover-near-white:hover {color: var(--near-white)}

.silver {color: var(--silver)}
.bg-silver {background-color: var(--silver)}
.hover-bg-silver:hover {background-color: var(--silver)}
.hover-silver:hover {color: var(--silver)}

.light-gray {color: var(--light-gray)}
.bg-light-gray {background-color: var(--light-gray)}
.hover-bg-light-gray:hover {background-color: var(--light-gray)}
.hover-light-gray:hover {color: var(--light-gray)}

.gray {color: var(--gray)}
.bg-gray {background-color: var(--gray)}
.hover-bg-gray:hover {background-color: var(--gray)}
.hover-gray:hover {color: var(--gray)}

.dark-gray {color: var(--dark-gray)}
.bg-dark-gray {background-color: var(--dark-gray)}
.hover-bg-dark-gray:hover {background-color: var(--dark-gray)}
.hover-dark-gray:hover {color: var(--dark-gray)}

.black {color: var(--black)}
.bg-black {background-color: var(--black)}
.hover-bg-black:hover {background-color: var(--black)}
.hover-black:hover {color: var(--black)}

.light-primary-color {color: var(--light-primary-color)}
.bg-light-primary-color {background-color: var(--light-primary-color)}
.hover-bg-light-primary-color:hover {background-color: var(--light-primary-color)}
.hover-light-primary-color:hover {color: var(--light-primary-color)}

.primary-color {color: var(--primary-color)}
.bg-primary-color {background-color: var(--primary-color)}
.hover-bg-primary-color:hover {background-color: var(--primary-color)}
.hover-primary-color:hover {color: var(--primary-color)}

.dark-primary-color {color: var(--dark-primary-color)}
.bg-dark-primary-color {background-color: var(--dark-primary-color)}
.hover-bg-dark-primary-color:hover {background-color: var(--dark-primary-color)}
.hover-dark-primary-color:hover {color: var(--dark-primary-color)}

.primary-text-color  {color: var(--primary-text-color)}
.secondary-text-color  {color: var(--secondary-text-color)}
.disabled-text-color  {color: var(--disabled-text-color)}

.bg-accent-color {background-color: var(--accent-color)}
.hover-bg-accent-color:hover {background-color: var(--accent-color)}

.bg-light-accent-color {background-color: var(--light-accent-color)}
.hover-bg-light-accent-color:hover {background-color: var(--light-accent-color)}

.bg-dark-accent-color {background-color: var(--dark-accent-color)}
.hover-bg-dark-accent-color:hover {background-color: var(--dark-accent-color)}

.border-divider-color  { border-color: var(--divider-color); }





/* variables */
:root {

  
  --near-white: #F8F8F8;  
  --silver: #DDDDDD;
  --gray:   #AAAAAA;
  --light-gray: #EEE;
  --dark-gray:  #333;
  --black:  #111111;
    
    /* Material */

    /*NEXT FILL THESE IN WITH VALUES FROM GOOGLE MATERIAL NAMES
        Then, make this a themeable thing? Generate themes? 
    */
    --dark-primary-color:           var(--palette-Blue-700);
    --primary-color:                var(--palette-Blue-500);
    --light-primary-color:          var(--palette-Blue-100);    
    --text-primary-color:           var(--palette-White-500);
    --accent-color:                 var(--palette-Pink-A200);
    --light-accent-color:           var(--palette-Pink-A100);
    --dark-accent-color:            var(--palette-Pink-A400);
    --primary-text-color:           var(--palette-Grey-900);
    --secondary-text-color:         var(--palette-Grey-600);
    --disabled-text-color:          var(--palette-Grey-400);
    --divider-color:                var(--palette-Grey-400);

    /*BassCSS overrides*/

  --button-background-color: var(--purple); 
  --transparent:transparent;
}
