body {
  border-top:3px solid green;
}

@media (--breakpoint-sm) {
  body {
    border-top:3px solid red;
  }
}
@media (--breakpoint-md) {
  body {
    border-top:3px solid blue;
  }
}
@media (--breakpoint-lg) {
  body {
    border-top:3px solid #ddd;
  }
}
