:root {
  --font-brand:  "Lato","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
  --font-primary-sans:  'Avenir Next W00', 'Avenir Next', 'Lato','Helvetica Neue', Helvetica, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',sans-serif;
  --font-primary: 'Merriweather', "Georgia", "Cambria", "Times New Roman", "Times", serif;
  --light-font-weight: 300;
  --caps-letter-spacing:.0625em;


}

body {
  font-family: var(--font-primary);
  line-height: 1.5;
  font-weight: 300;  
}

p {
  font-size: 1.125em;
  line-height: 1.6;
  font-weight: 300;

}

.font-family-brand { font-family: var(--font-brand) } 
.font-family-primary { font-family: var(--font-primary) } 
.font-spaced { letter-spacing: var(--caps-letter-spacing) }
.font-light-weight { font-weight: var(--light-font-weight) }
.text-shadow-black { text-shadow: 1px 1px 0px #000000; }

